.style{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    background-color: #45a049;
    height: 100px;}

    #button , #button2 {
        margin-right: 20px;
        background-color: #4CAF50; /* Cor de fundo */
        color: white; /* Cor do texto */
        padding: 5px 10px; /* Espaçamento interno */
        border: none; /* Remover borda */
        border-radius: 5px; /* Bordas arredondadas */
        cursor: pointer; /* Cursor de mão */
        font-size: 16px; /* Tamanho da fonte */
      }
      
      #button:hover , #button2:hover{
        background-color: #45a049; /* Cor de fundo ao passar o mouse */
      }
    
body{
    background-color: #4caf4f80; /* Cor de fundo */}

#nome{
    border-radius: 5px;
    border: 0;
    background-color: rgb(235, 235, 235);}

#cadastro{
    font-size: 15px;}

#quest{
    font-family: 'Franklin Gothic Medium';
    font-size: 25px;}

#questao{
    padding-bottom: 5px;
    font-weight: 100;
    font-family: 'Franklin Gothic Medium';
    font-size: 15px;}

input[type="radio"]:checked {
    background-color: #4CAF50; 
    border-color: black;}    